<div class="content">
  <div class="head">- НАШИ СЕРТИФИКАТЫ -</div>
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__slide" #move>
        <div class="image_slide" *ngFor="let image of data">
          <img src="{{image.name}}" alt="img-nature">
        </div>
      </div>
    </div>
    <button class="slider__btn slider__btn--left" (click)="sliderLeft()">Left</button>
    <button class="slider__btn slider__btn--right" (click)="sliderRight()">Right</button>
  </div>

  <div class="line"></div>
  <div class="text">
    Компания "ТеплоСтройКомплект" сотрудничает с оптовыми складами и заводами изготовителями газовой техники, благодаря чему, мы можем предложить Вам широкий выбор товаров и услуг в области систем отопления и газоснабжения. Большой опыт работы в этой области (свыше 10 лет) позволяет выполнять работу профессионально и качественно в оптимально сжатые сроки. Мы осуществляем продажу, установку и производим ремонт газовых колонок, газовых котлов напольных, настенных, одноконтурных и двухконтурных котлов частных и корпоративных клиентов. А также, поставляем запчасти и комплектующие от ведущих производителей. Для удобства клиентов, имеются различные способы расчётов. Мы рады предложить любое газовое оборудование, которое Вам необходимо, а также, услуги по его установке и ремонту.
  </div>
</div>
