<div class="content">

    <div class="zigzag-top"></div>

    <div class="cont">
      <div class="text1">РЕМОНТ <span class="hline">|</span> УСТАНОВКА <span class="hline">|</span> ОБСЛУЖИВАНИЕ</div>
      <div class="text2">ГАЗОВЫХ КОЛОНОК, КОТЛОВ, ВОДОНАГРЕВАТЕЛЕЙ - В САРАНСКЕ И РМ</div>
      <div class="line"></div>
      <div class="div-form">
        <div class="block">
          <div class="lines"></div>
          <div class="icon-bus"></div>
          <div class="text3">КАЧЕСТВЕННО</div>
        </div>
        <div class="block">
          <div class="lines"></div>
          <div class="icon-fast"></div>
          <div class="text3">ЗА 1 ДЕНЬ</div>
        </div>
        <div class="block">
          <div class="lines"></div>
          <div class="icon-money"></div>
          <div class="text3">ПО ВЫГОДНОЙ ЦЕНЕ</div>
        </div>
      </div>
    </div>

    <div class="zigzag-bottom"></div>
</div>

